<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>@infrared</title>
	<meta name="author" content="Andrei Krasnitski" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<!-- CSS -->
	<!-- load bootstrap and our own personal stylesheet -->
	<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-
	1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link rel="stylesheet" href="css/style.css">

</head>
<body>

	<div class="container">
	  <div class="row">&nbsp;</div>
	  <div class="row">
	  	<div class="col-md-offset-4"><h1><strong>Hi. I'm Andrei Krasnitski.</strong></h1></div>
	  </div>
	  <div class="row">
	    <div class="col-md-offset-4"><h2>I write <a href="http://github.com/infra-red" target="_blank">some code</a>.</h2></div>
	  </div>
	  <div class="row">
	    <div class="col-md-offset-4"><h2>I work at <a href="http://altoros.com" target="_blank">Altoros</a>.</h2></div>
	  </div>
	  <div class="row">
	    <div class="col-md-offset-4"><h2>I like <a href="http://last.fm/user/followinfrared" target="_blank">music</a>.</h2></div>
	  </div>
	  <div class="row">
	    <div class="col-md-offset-4"><h2>Stay in <a href="mailto:xaaabk@gmail.com">touch</a>.</h2></div>
	  </div>
	</div>

</body>
</html>
